{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "flow",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
